@using BillEntryProductService_Data
@model BillEntryProductService_Data.ProductEntity

@{
    ViewBag.Title = "Update";
}

<h2>Update product</h2>

<form action="~/Product/UpdateExecute" method="post">
    <table>
        <tr>
            <td>Id(rowKey):</td>
            <td>@Model.RowKey</td>
            <input type="hidden" name="rowKey" value="@Model.RowKey" />
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" value="@Model.Name"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" step="0.1" min="0.1" name="price" value="@Model.Price" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
</form>
